body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: antiquewhite;
  overflow: hidden; /* Evita barras de desplazamiento */
}

#gameContainer {
  width: 100vw; 
  height: 100vh; 
  max-width: 1440px; 
  max-height: 880px; 
}
